/* general predisposition */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("../img/legno.png");
}

/* full page container */
.full-page{
  width: 80%;
  margin: 1% auto;
}

/* header */
header{
  font-family: 'Cinzel', serif;
}

.logo-title{
  height: 300px;
  background-image: url("../img/foresta.jpg");
  background-size: cover;
  border: solid 10px white;
  position: relative;
}

.title{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title h1{
  text-align: center;
  border: solid 2px white;
  font-size: 3em;
}

.title h3{
  padding-top: 30px;
  font-size: 1.5em;
}

/* navbar */
nav{
  /* padding: 20px; */
  text-align: center;
  background-color: #504741;
}

header li{
  display: inline-block;
  padding: 10px;
}

header a{
  color: #999999;
  text-decoration: none;
}

header li:hover{
  cursor: pointer;
  background-color: #5a3e30;
}


/* container main part */
.container{
  margin: 1% 0;
  font-family: 'Maven Pro', sans-serif;
}

.container::after{
  content: "";
  display: table;
  clear: both;
}

/* columns */
 aside{
  width: 20%;
  float: left;
}

/* left column */
.aside-sx{
  border-radius: 1%;
  background-color: white;
  position: relative;
}

.aside-sx img{
  width: 20px;
  height: 20px;
}

.aside-sx h2{
  color: #7b7676;
  display: inline-block;
}

.aside-sx ul{
  padding: 3px;
  list-style-type: none;
}

.aside-sx li{
  padding: 5px;
}

.aside-sx a{
  color: #388a3b;
  text-decoration: none;
}

/* main */
 main{
  width: 50%;
  float: left;
  border-radius: 1%;
  margin:0 5%;
  background-color: white
}

main h2{
  color: #7b7676;
  padding: 15px;
}

main p{
 padding: 20px;
 font-size: 1.2em;
}

/* right columns */
.widget{
  margin-bottom: 20px;
  width: 100%;
  border-radius: 1%;
  background-color: white;
}

.widget h2{
  color: #7b7676;
  padding: 15px;
}

.widget p{
 padding: 20px;
 font-size: 1.2em;
}

/* footer */
footer{
  height: 150px;
 background: white;
}

.footer-nome{
  font-family: 'Dancing Script', cursive;
  text-align: center;
  padding: 3px;
  border-bottom: solid 2px black;
  width: 99%;
  height: 20%;
}

.footer-img{
  height: 80%;
}

.div-img{
  height: 100%;
  width: 30%;
  display: inline-block;
  position: relative;
}

.div-img img{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 30%;
}

.div-img:hover img{
  opacity: 100%;
}
