/* general predisposition */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("../img/legno.png");
}

/* full page container */
.full-page{
  width: 80%;
  margin: 1% auto;
}

/* header */
.logo-title{
  height: 300px;
  background-image: url("../img/foresta.jpg");
  background-size: cover;
  border: solid 10px white;
  position: relative;
}

.title{
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title h1{
  text-align: center;
  border: solid 2px white;
  font-size: 3em;
}

.title h3{
  padding-top: 30px;
  font-size: 1.5em;
}

/* navbar */
nav{
  /* padding: 20px; */
  text-align: center;
  background-color: #504741;
}

header li{
  display: inline-block;
  padding: 10px;
}

header a{
  color: #999999;
  text-decoration: none;
}

header li:hover{
  cursor: pointer;
  background-color: #5a3e30;
}


/* container main part */
.container{
  margin: 1% 0;
}

.container::after{
  content: "";
  display: table;
  clear: both;
}

/* columns */
 aside{
  width: 20%;
  float: left;
  border-radius: 1%;
}

/* main */
 main{
  width: 50%;
  float: left;
  border-radius: 1%;
  margin:0 5%;
  background-color: white
}

main h2{
  padding: 15px;
}

main p{
 padding: 20px;
 font-size: 1.2em;
}

.widget{
  margin-bottom: 20px;
  width: 100%;
  border-radius: 1%;
  background-color: white;
}

.widget h2{
  padding: 15px;
}

.widget p{
 padding: 20px;
 font-size: 1.2em;
}

/* footer */
footer{
 height: 150px;
/* debug */
 background: #e76f51;
}
